
<div id="sidebar-wrapper">
    <ul class="sidebar-nav">
        <li class="e-divider-4"></li>
        <li class="sidebar-brand">
            <a href="#"><img src="~/assets/custom/images/logo01.png" width="180" alt="logo"></a>
        </li>
        <li class="e-divider-4"></li>
        <li><a href='@Url.Action("Index","Restaurantes")' class="current">Inicio</a></li>
        @*<li><a href="#">Sobre Nosotros</a></li>*@



    </ul>

    <div class="e-divider-4"><hr></div>
   
    <div  id="filters" class="port-filter text-right grid-item">
        <ul>
            <li><a href="#cat1" data-filter="*">Todos</a></li>
            <li><a href="#cat2" data-filter=".Pizza">Pizzas</a></li>
            <li><a href="#cat3" data-filter=".Burger">Hamburguesas</a></li>
            <li><a href="#cat4" data-filter=".Otros">Otros</a></li>
           
        </ul>
       
    </div>
    <button type="button" class="btn btn-default" aria-label="Center Align">
        <span class="glyphicon glyphicon-shopping-cart text-right grid-item" aria-hidden="true"></span>
    </button>
    <br />

</div>

